*{
    text-align: center;
}
html{
    background-color: #e5ccee;
    font-size: 16px;
}

body{
    width: 700px;
    margin: auto;
}
h1{
    font-size: 48px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
p{
    font-size: 1.5rem;
}